.fl {
  float: left;
}
.fr {
  float: right;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
.bigbox {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  height: 827px;
  z-index: 0;
}
.bigbox .mask {
  background-image: url(../image/kid_transparent.png);
  height: 827px;
  width: 540px;
  background-size: contain;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 192px;
  z-index: -5;
}
.bigbox .warpper {
  width: 1200px;
  margin: 0 auto;
  padding: 25px;
}
.bigbox .warpper .nav .kiddy h3 {
  font-size: 2.7rem;
  color: #fff;
}
.bigbox .warpper .nav .kiddy h3 span {
  color: #dc3545 !important;
}
.bigbox .warpper .nav .kiddy-right .left {
  margin-right: 15px;
}
.bigbox .warpper .nav .kiddy-right .left i {
  display: block;
  margin-right: 18px;
  line-height: 40px;
  font-size: 34px;
  color: #fdb62f;
}
.bigbox .warpper .nav .kiddy-right .left p {
  float: left;
  width: 253px;
  font-size: 14.4px;
  color: #ffffff;
}
.bigbox .warpper .nav .kiddy-right .right i {
  display: block;
  margin-right: 18px;
  line-height: 40px;
  font-size: 34px;
  color: #fd4d40;
}
.bigbox .warpper .nav .kiddy-right .right p {
  float: left;
  width: 253px;
  font-size: 14.4px;
  color: #ffffff;
}
.bigbox .warpper .home {
  background-color: #ffffff;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 50px;
}
.bigbox .warpper .home .list-left li {
  float: left;
  margin: 0 15px;
  padding: 20px 0;
}
.bigbox .warpper .home .list-left li:nth-child(1) {
  color: red;
}
.bigbox .warpper .home .list-right li {
  float: left;
  padding: 20px 20px;
}
.bigbox .warpper .home .list-right li:nth-child(1) {
  color: #17a2b8;
}
.bigbox .warpper .home .list-right li:nth-child(2) {
  color: #71bc42 !important;
}
.bigbox .warpper .home .list-right li:nth-child(3) {
  color: #ffc107;
}
.bigbox .warpper .welcome {
  padding-top: 48px;
  margin: 15px 0;
}
.bigbox .warpper .welcome h6 {
  font-size: 20px;
  color: #fd4d40;
}
.bigbox .warpper .welcome h1 {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin-bottom: 16px;
}
.bigbox .warpper .welcome p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 16px;
}
.bigbox .warpper .welcome button.btn {
  padding: 24px 20px;
  background-color: #dc3545;
  color: #fff;
  font-size: 20.8px;
  text-transform: uppercase;
  margin-top: 30px;
  border: none;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  transition: all 0.5s;
}
.bigbox .warpper .welcome button.btn:hover {
  background-color: #bb2635;
}
.kids1 .warpper {
  width: 1200px;
  margin: 0 auto;
  padding: 112px 0;
}
.kids1 .warpper ul.list li {
  text-align: center;
  width: calc(33% - 120px);
  float: left;
  padding: 40px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: lightcoral;
  position: relative;
}
.kids1 .warpper ul.list li .mask {
  width: 80px;
  height: 80px;
  background-color: #17a2b8;
  position: absolute;
  top: -38px;
  border-radius: 50%;
  line-height: 80px;
  left: calc(50% - 40px);
  font-size: 28px;
}
.kids1 .warpper ul.list li .mask i {
  color: #fff;
}
.kids1 .warpper ul.list li:nth-child(1) {
  background-color: #ff5533;
}
.kids1 .warpper ul.list li:nth-child(1) .mask {
  background-color: #ff5533;
}
.kids1 .warpper ul.list li:nth-child(2) {
  background-color: #ffc107;
}
.kids1 .warpper ul.list li:nth-child(2) .mask {
  background-color: #ffc107;
}
.kids1 .warpper ul.list li:nth-child(3) {
  background-color: #20c997;
}
.kids1 .warpper ul.list li:nth-child(3) .mask {
  background-color: #20c997;
}
.kids1 .warpper ul.list li h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 8px;
  margin-top: 20px;
}
.kids1 .warpper ul.list li p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 2em;
  font-weight: 100;
}
.kids2 {
  background-color: #f6f5f5;
}
.kids2 .warpper {
  width: 1200px;
  margin: 0 auto;
  padding: 112px 0;
}
.kids2 .warpper .logo {
  width: 540px;
  height: 460px;
}
.kids2 .warpper .word {
  margin-left: 95px;
  padding-left: 48px;
  padding-right: 15px;
  width: calc(50% - 158px);
}
.kids2 .warpper .word h6 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #dc3545;
}
.kids2 .warpper .word h3 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #000;
}
.kids2 .warpper .word p {
  font-size: 16px;
  line-height: 2em;
}
.kids2 .warpper .word button.btn {
  padding: 24px 20px;
  font-size: 15.8px;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 100;
  border: none;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #fdb62f;
  transition: all 0.5s;
}
.kids2 .warpper .word button.btn:hover {
  background-color: #d09528;
}
.kids3 {
  background-color: #17a2b8;
}
.kids3 .warpper {
  width: 1200px;
  margin: 0 auto;
  padding: 112px 0;
}
.kids3 .warpper .nav {
  text-align: center;
  margin-bottom: 40px;
}
.kids3 .warpper .nav p {
  font-size: 20px;
  margin-bottom: 8px;
  color: #dc3545;
}
.kids3 .warpper .nav h3 {
  font-size: 32px;
  margin-bottom: 8px;
  color: #fff;
}
.kids3 .warpper ul.list {
  padding: 15px 0;
}
.kids3 .warpper ul.list li {
  float: left;
  width: calc(33% - 110px);
  background-color: #fff;
  padding: 40px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.kids3 .warpper ul.list li img {
  width: 80px;
  height: 80px;
}
.kids3 .warpper ul.list li h3 {
  font-size: 18px;
  margin: 30px 0;
}
.kids3 .warpper ul.list li:nth-child(1) {
  color: #16c3b0;
}
.kids3 .warpper ul.list li:nth-child(2) {
  color: #71bc42;
}
.kids3 .warpper ul.list li:nth-child(3) {
  color: #dc3545;
}
.kids3 .warpper ul.list li p {
  line-height: 2em;
  color: #777;
  font-size: 16px;
  margin-bottom: 16px;
}
.kids3 .warpper ul.list li button.btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.5s;
}
.kids3 .warpper ul.list li:nth-child(1) button.btn {
  background-color: #dc3545;
  color: #fff;
}
.kids3 .warpper ul.list li:nth-child(1) button.btn:hover {
  background-color: #b93340;
}
.kids3 .warpper ul.list li:nth-child(2) button.btn {
  background-color: #ffc107;
}
.kids3 .warpper ul.list li:nth-child(2) button.btn:hover {
  background-color: #dca913;
}
.kids3 .warpper ul.list li:nth-child(3) button.btn {
  background-color: #71bc42;
}
.kids3 .warpper ul.list li:nth-child(3) button.btn:hover {
  background-color: #59a42b;
  color: #fff;
}
.kids4 .warpper {
  width: 1200px;
  margin: 0 auto;
  padding: 112px 0;
}
.kids4 .warpper .pricing {
  width: 320px;
}
.kids4 .warpper .pricing p {
  font-size: 20px ;
  margin-bottom: 8px;
  color: #fd4d40;
}
.kids4 .warpper .pricing h3 {
  font-size: 32px;
  color: #000;
  margin-bottom: 20px;
}
.kids4 .warpper .pricing h6 {
  font-size: 15px ;
  margin-bottom: 16px;
  color: #364d59;
  line-height: 2em;
}
.kids4 .warpper .right4 {
  width: 65%;
  margin-left: 50px;
}
.kids4 .warpper .right4 .silver {
  width: 50%;
}
.kids4 .warpper .right4 .silver .bigbox4 {
  width: 90px;
  height: 90px;
  border: 5px solid #16c3b0;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
}
.kids4 .warpper .right4 .silver .bigbox4 .smallbox4 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #16c3b0;
  line-height: 80px;
  position: absolute;
  right: 5px;
  left: 5px;
  top: 5px;
  bottom: 5px;
  text-align: center;
}
.kids4 .warpper .right4 .silver .bigbox4 .smallbox4 p {
  font-size: 26px;
  color: #000;
}
.kids4 .warpper .right4 .silver h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.kids4 .warpper .right4 .silver ul.list li {
  font-size: 16px;
  padding-bottom: 35px;
}
.kids4 .warpper .right4 .silver ul.list li::after {
  content: "";
  display: block;
  clear: both;
}
.kids4 .warpper .right4 .silver ul.list li p {
  float: left;
  margin-right: 16px;
  color: #16c3b0;
}
.kids4 .warpper .right4 .silver ul.list li h1 {
  float: left;
  font-size: 15px;
  color: #364d59;
}
.kids4 .warpper .right4 .silver button.btn {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #16c3b0;
  border: none;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.kids4 .warpper .right4 .silver button.btn p {
  text-transform: uppercase;
}
.kids4 .warpper .right4 .golden {
  width: 50%;
}
.kids4 .warpper .right4 .golden .bigbox4 {
  width: 90px;
  height: 90px;
  border: 5px solid #fd4d40;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
}
.kids4 .warpper .right4 .golden .bigbox4 .smallbox4 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fd4d40;
  line-height: 80px;
  position: absolute;
  right: 5px;
  left: 5px;
  top: 5px;
  bottom: 5px;
  text-align: center;
}
.kids4 .warpper .right4 .golden .bigbox4 .smallbox4 p {
  font-size: 26px;
  color: #000;
}
.kids4 .warpper .right4 .golden h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.kids4 .warpper .right4 .golden ul.list li {
  font-size: 16px;
  padding-bottom: 35px;
}
.kids4 .warpper .right4 .golden ul.list li::after {
  content: "";
  display: block;
  clear: both;
}
.kids4 .warpper .right4 .golden ul.list li p {
  float: left;
  margin-right: 16px;
  color: #fd4d40;
}
.kids4 .warpper .right4 .golden ul.list li h1 {
  float: left;
  font-size: 15px;
  color: #364d59;
}
.kids4 .warpper .right4 .golden button.btn {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #fd4d40;
  border: none;
  outline: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.kids4 .warpper .right4 .golden button.btn p {
  text-transform: uppercase;
}
.kids5 {
  background-color: #f6f5f5;
  padding: 112px 0;
}
.kids5 .warpper {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
}
.kids5 .warpper .top {
  text-align: center;
}
.kids5 .warpper .top p {
  font-size: 20px;
  margin-bottom: 8px;
  color: #fd4d40;
}
.kids5 .warpper .top h3 {
  font-size: 32px;
  margin-bottom: 8px;
}
.kids5 .warpper .card {
  width: 700px;
  background-color: #fd4d40;
  margin: 0 auto;
  padding: 30px;
  margin-top: 50px;
}
.kids5 .warpper .card .logo img {
  width: 80px;
  height: 80px;
}
.kids5 .warpper .card .word {
  margin-left: 150px;
}
.kids5 .warpper .card .word h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #fff;
  line-height: 35px;
}
.kids5 .warpper .card .word p {
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.771);
  font-size: 14px;
}
.kids5 .warpper .list {
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}
.kids5 .warpper .list li {
  float: left;
  padding: 0 15px;
  margin-right: 58px;
}
.kids5 .warpper .list li:nth-child(1) {
  color: #16c3b0;
}
.kids5 .warpper .list li:nth-child(2) {
  color: #fdb62f;
}
.kids5 .warpper .list li:nth-child(3) {
  color: #71bc42;
}
.kids5 .warpper .list li:nth-child(4) {
  color: #dc3545;
}
.kids5 .warpper .list li h3 {
  font-size: 32px;
  margin-bottom: 8px;
}
.kids5 .warpper .list li p {
  font-size: 16px;
  color: #343a40;
}
.small {
  background-color: #ffc107;
  padding: 48px 0;
}
.small .warpper {
  width: 1200px;
  margin: 0 auto;
}
.small .warpper .left {
  font-size: 32px;
}
.small .warpper .left p {
  color: #fff;
}
.small .warpper .right {
  padding: 16px 48px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-transform: uppercase;
  background-color: #dc3545;
  transition: all 0.5s;
  border: none;
}
.small .warpper .right:hover {
  background-color: #bc313f;
}
.small .warpper .right p {
  color: #fff;
}
.footer {
  background-color: #343a40;
}
.footer .warpper {
  width: 1200px;
  margin: 0 auto;
  padding: 112px 0;
}
.footer .warpper .left {
  width: 365px;
  line-height: 2em;
}
.footer .warpper .left h3 {
  font-size: 18px;
  margin-bottom: 16px;
  color: #dc3545;
}
.footer .warpper .left p {
  font-size: 16px;
  margin-bottom: 48px;
  color: #fff;
}
.footer .warpper .left .one input.email {
  padding: 12px 12px;
  margin-right: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.footer .warpper .left .one button.btn {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background-color: #dc3545;
  border: none;
  border-radius: 50px;
  transition: all 0.5s;
}
.footer .warpper .left .one button.btn:hover {
  background-color: #bc313f;
}
.footer .warpper .right {
  width: 50%;
}
.footer .warpper .right .nav-left h3 {
  font-size: 18px;
  margin-bottom: 24px;
  color: #dc3545;
}
.footer .warpper .right .nav-left p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 2em;
}
.footer .warpper .right .nav-right {
  margin-right: 180px;
}
.footer .warpper .right .nav-right h3 {
  font-size: 18px;
  margin-bottom: 24px;
  color: #dc3545;
}
.footer .warpper .right .nav-right p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 2em;
}
.footer .last {
  margin: 0 auto;
  width: 1200px;
  border-top: 1px solid rgba(255, 255, 255, 0.548);
}
.footer .last .warpper {
  color: white;
  margin: auto;
  margin-left: 25%;
}
.footer .last .warpper p {
  float: left;
}
.footer .last .warpper i {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
  color: #dc3545;
}
.footer .last .warpper a {
  float: left;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 5px;
}
/*# sourceMappingURL=./kiddy.css.map */